body {
    background: #333;
    height: 100%;
    font-family: monospace;
    padding-top: 5em;
    padding-left: 35em;
    padding-right: 35em;
    font-size: 5px;
  }
  
  h1 {
    font-size: 1em;
    color: white;
    text-transform: uppercase;
    padding-left: 90px;
    padding-top: 80px;
    margin-left: 300px;
  }
  
  span {
    border-right: .15em solid orange;
    animation: caret 1s steps(1) infinite;
  }
  
  @keyframes caret {
    50% {
      border-color: transparent;
    }
  }

  .frame {
    position: relative;
    display: inline-block;
  }

  frame:before {
    content: '';
    position: absolute;
    top: 5px; /* Adjust as needed */
    left: 5px; /* Adjust as needed */
    right: 5px; /* Adjust as needed */
    bottom: -px; /* Adjust as needed */
    border: 5px solid #000; /* Adjust border properties */
    z-index: 1; /* Behind the content */
  }
  
  /* Style the image */
  .image {
    position: absolute;
    top: 20px;
    left: 150px; /* Adjust the distance from the left side */
    width: 190px; /* Adjust the width of the image */
  }
